#
# Ignore visual studio code
#
/.vscode/*
/.pylintrc

#
# Ignore compilation files
#
**/*.obj
**/*.pdb
**/*.ilk
**/*.exe
**/*.log
TPProcesser/REname/REname1
TPProcesser/REname/REname2
TPProcesser/REname/lib/cppgoslin-1.1.2/TPGoslin
TPProcesser/RowMerger/RowMerger
TPProcesser/TableMerger/TableMerger
TPProcesser/Tagger/Tagger


#
# Ignore Python pycache
#
__pycache__
#/TPPreProcesser/__pycache__/*
#/TPPreProcesser/modules/__pycache__/*
#/TPPostProcesser/__pycache__/*
#/TPPostProcesser/modules/__pycache__/*

#
# Ignore Processer libraries
#
# boost
/TPProcesser/lib/boost_1_76_0/*
/TPProcesser/lib/boost_1_76_0.zip
/TPProcesser/lib/boost_1_61_0/*
/TPProcesser/lib/boost_1_78_0/*

# goslin
/TPProcesser/REname/lib/cppgoslin-1.1.2/examples
/TPProcesser/REname/lib/cppgoslin-1.1.2/cppgoslin/tests


# Ignore tests
/test/*
/TPProcesser/REname/data/TPMapTable_valid/*
